* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top-bar {
    background-color: #1e3a67;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.top-bar .contact-info span,
.top-bar .call-now span {
    margin-right: 20px;
}

.navbar {
    background-color: #fff;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;    
    width: 100%;
    z-index: 1000; 
    height: 70px;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
}
.navbar .logo div img {
    width:40px;

}
.logo div:nth-child(2) {
    font-family: monospace;
    font-size: 40px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin: 0 20px;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #333;
    font-family : monospace;
    font-size: 20px;
    font-weight: bold;
}

.hero {
    background-size: cover;
    background-color: rgb(109, 158, 222);
    background-position: center;
    padding: 100px 50px;
    color: black;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-content p {
    font-size: 24px;
}

.services {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
}

.service-box {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}
.service-box ul {
    list-style: none;
    text-align: left;
}
.service-box h3 {
    margin: 10px 0;
}

.appointment-btn {
    background-color: #1e3a67;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.patient-care {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.patient-care h2 {
    margin-bottom: 20px;
}

.care-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.care-card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 180px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #1e3a67;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

.footer-left {
    width: 30%;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: white;
}

.footer-contact p {
    margin-bottom: 10px;
}
.footer-content {
    display:flex;
    align-items:center;
    justify-content :space-between;
}